# resolve this issue
**/bin
**/obj
# recommended options
.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
_ReSharper.Caches
**/bower_components
**/node_modules
**/*.*proj.user
**/.cache
**/charts
**/Dockerfile
**/Dockerfile.develop
**/secrets.dev.yaml
**/values.dev.yaml
**/azds.yaml
**/.vs
